Repository OpenKore/openkore, pull requests merged in 2018-08, with the labels that each got.

#1124 [eventMacro.pl] Added &strip()
  plugins/eventMacro/eventMacro/Data.pm
  plugins/eventMacro/eventMacro/Runner.pm
Labels: enhancement, plugin

#2111 pauseCharLogin && pauseMapServer in Xkore3
  src/Network/DirectConnection.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
Labels: needs code review, needs to be tested

#2307 Update Packet !
  src/Network/Receive/idRO.pm
Labels: server: idRO
