Repository OpenKore/openkore, pull requests merged in 2018-07, with the labels that each got.

#2113 New sT 20171115 - 20171206
  src/Network/Receive/kRO/Distfiles
  src/Network/Receive/kRO/RagexeRE_2017_11_15a.pm
  src/Network/Receive/kRO/RagexeRE_2017_11_22b.pm
  src/Network/Receive/kRO/RagexeRE_2017_11_29a.pm
  src/Network/Receive/kRO/RagexeRE_2017_12_06a.pm
  src/Network/Receive/kRO/RagexeRE_2017_12_13b.pm
  src/Network/Receive/kRO/RagexeRE_2017_12_20a.pm
  src/Network/Receive/kRO/RagexeRE_2017_12_27a.pm
  src/Network/Send/kRO/Distfiles
  src/Network/Send/kRO/RagexeRE_2017_11_15a.pm
  src/Network/Send/kRO/RagexeRE_2017_11_22b.pm
  src/Network/Send/kRO/RagexeRE_2017_11_29a.pm
  src/Network/Send/kRO/RagexeRE_2017_12_06a.pm
  src/Network/Send/kRO/RagexeRE_2017_12_13b.pm
  src/Network/Send/kRO/RagexeRE_2017_12_20a.pm
  src/Network/Send/kRO/RagexeRE_2017_12_27a.pm
Labels: needs code review

#2127 unfreeze blocking after map load in iRO
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
Labels: enhancement, server: iRO, server: iRO Re:start

#2123 Updating packet tables and keys for iRO (Chaos and Restart)
  tables/iRO/Renewal/recvpackets.txt
  tables/iRO/Renewal/shuffle.txt
  tables/iRO/Renewal/sync.txt
  tables/iRO/Restart/recvpackets.txt
  tables/iRO/Restart/shuffle.txt
  tables/iRO/Restart/sync.txt
  tables/servers.txt
Labels: server: iRO, server: iRO Re:start

#2134 [iRO] Unfreeze char after map loaded
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/iRO/Renewal.pm
  src/Network/Send/iRO/Renewal.pm
  tables/servers.txt
Labels: needs code review, needs to be tested, server: iRO, server: iRO Re:start

#2160 Fix #2159
  src/Network/Send.pm
Labels: server: iRO

#2173 Update (recvpackets,shuffle,sync)
  tables/iRO/Restart/recvpackets.txt
  tables/iRO/Restart/shuffle.txt
  tables/iRO/Restart/sync.txt
  tables/servers.txt
Labels: server: iRO Re:start

#2105 Issues : #416
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
Labels: needs code review, needs to be tested

#2203 [Receive] Merge some identical methods from Sakexe0 and ServerType0
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
Labels: code cleaning, network/poseidon

#2196 Private airship [ Packet ]
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Network/Send/ServerType0.pm
  src/Network/Send/kRO/Sakexe_0.pm
Labels: needs code review, network/poseidon

#2204 [Receive] Merge some identical methods from Sakexe0 and ServerType0
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
Labels: code cleaning, network/poseidon

#2211 [2018-07-31] [bRO] Connection update
  tables/bRO/recvpackets.txt
  tables/bRO/shuffle.txt
  tables/bRO/sync.txt
  tables/servers.txt
Labels: needs to be tested

#2195 [getAuto] Support nameID
  src/AI/CoreLogic.pm
Labels: needs code review, needs to be tested, new feature
