Repository OpenKore/openkore, pull requests merged in 2018-02, with the labels that each got.

#1773 [kRO_Update] Packet/Poseidon
  src/Poseidon/servertypes.txt
  tables/kRO/Zero/recvpackets.txt
  tables/kRO/Zero/shuffle.txt
  tables/kRO/Zero/sync.txt
  tables/servers.txt
Labels: kRO: Zero

#1775 packet EXP,stat_info base kRO:zero
  src/Network/Receive/kRO/RagexeRE_2017_09_13b.pm
Labels: server: Private

#1795 [kRO Zero] Update Files
  tables/kRO/Zero/items.txt
  tables/kRO/Zero/maps.txt
  tables/kRO/Zero/recvpackets.txt
  tables/kRO/Zero/resnametable.txt
  tables/kRO/Zero/shuffle.txt
  tables/kRO/Zero/sync.txt
  tables/servers.txt
Labels: kRO: Zero, network/poseidon

#1800 add captcha to kRO:zero
  tables/servers.txt
Labels: kRO: Zero

#1814 Fix eventmacro crash on reload with unclosed blocks
  plugins/eventMacro/eventMacro/Core.pm
Labels: bug, plugin, priority: low

#1816 [kRO Zero] Update files
  tables/kRO/Zero/recvpackets.txt
  tables/kRO/Zero/shuffle.txt
  tables/kRO/Zero/sync.txt
  tables/servers.txt
Labels: kRO: Zero, network/poseidon
