Repository OpenKore/openkore, pull requests merged in 2021-09, with the labels that each got.

#3455 [cRO] July, 2021 update
  src/Network/Receive/cRO.pm
  src/Network/Send/cRO.pm
  tables/cRO/achievement_list.txt
  tables/cRO/attendance_rewards.txt
  tables/cRO/item_options.txt
  tables/cRO/items.txt
  tables/cRO/itemsdescriptions.txt
  tables/cRO/itemslotcounttable.txt
  tables/cRO/maps.txt
  tables/cRO/msgstringtable.txt
  tables/cRO/quests.txt
  tables/cRO/recvpackets.txt
  tables/cRO/resnametable.txt
  tables/cRO/skillnametable.txt
  tables/cRO/skillsdescriptions.txt
  tables/cRO/skillssp.txt
  tables/cRO/statusnametable.txt
  tables/servers.txt
Labels: feature request, server: cRO

#3517 Moved all "sendCharCreate" to send.pm
  src/Network/Send.pm
  src/Network/Send/cRO.pm
  src/Network/Send/iRO.pm
  src/Network/Send/kRO/RagexeRE_2012_03_07f.pm
  src/Network/Send/kRO/Sakexe_0.pm
  tables/servers.txt
Labels: code cleaning

#3519 Code cleanup
  control/config.txt
  src/Network.pm
  src/Network/DirectConnection.pm
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Network/XKore2/MapServer.pm
  src/functions.pl
  tables/bRO/control-br/config.txt
  tables/servers.txt
  tables/twRO/chinese/control/config.txt
Labels: documentation, code cleaning

#3521 fix package "special_item_obtain" for cRO
  src/Network/Receive/cRO.pm
Labels: bug, server: cRO
