Repository OpenKore/openkore, pull requests merged in 2021-08, with the labels that each got.

#3499 RagexeRE_2020_03_04a support
  src/Network/Receive.pm
  src/Network/Receive/kRO/RagexeRE_2020_03_04a.pm
  src/Network/Send/kRO/RagexeRE_2018_04_04b.pm
  src/Network/Send/kRO/RagexeRE_2020_03_04a.pm
  tables/servers.txt
Labels: bug, server: Private

#3500 fixed build for windows + perl 5.32
  SConstruct
Labels: bug

#3468 Poseidon BIG update
  control/poseidon.txt
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Poseidon/QueryServer.pm
  src/Poseidon/RagnarokServer.pm
  src/Poseidon/poseidon.pl
  src/Poseidon/servertypes.txt
Labels: feature request, server: twRO, server: cRO

#3502 Packetdescriptions updated
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Network/Send/ServerType0.pm
  src/Network/Send/kRO/Sakexe_0.pm
  tables/packetdescriptions.txt
Labels: code cleaning

#3467 [twRO] support
  control/config.txt
  control/poseidon.txt
  src/Commands.pm
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Network/Receive/twRO.pm
  src/Network/Send/ServerType0.pm
  src/Network/Send/kRO/Sakexe_0.pm
  src/Network/Send/twRO.pm
  tables/SKILL_id_handle.txt
  tables/servers.txt
  tables/twRO/achievement_list.txt
  tables/twRO/attendance_rewards.txt
  tables/twRO/items.txt
  tables/twRO/itemsdescriptions.txt
  tables/twRO/itemslotcounttable.txt
  tables/twRO/msgstringtable.txt
  tables/twRO/quests.txt
  tables/twRO/recvpackets.txt
  tables/twRO/resnametable.txt
  tables/twRO/skillnametable.txt
  tables/twRO/skillsdescriptions.txt
  tables/twRO/skillssp.txt
  tables/twRO/statusnametable.txt
  tables/twRO/sync.txt
Labels: feature request, server: twRO

#3460 [vRO] support
  control/poseidon.txt
  plugins/!deps/URI/Escape.pm
  plugins/vRO_auth/vRO_auth.pl
  src/Misc.pm
  src/Network/Receive.pm
  src/Network/Receive/vRO.pm
  src/Network/Send/vRO.pm
  src/Poseidon/servertypes.txt
  src/po/update.sh
  src/po/vi.mo
  src/po/vi.po
  tables/servers.txt
  tables/vRO/achievement_list.txt
  tables/vRO/attendance_rewards.txt
  tables/vRO/directions.txt
  tables/vRO/elements.txt
  tables/vRO/equiptypes.txt
  tables/vRO/haircolors.txt
  tables/vRO/item_options.txt
  tables/vRO/items.txt
  tables/vRO/itemsdescriptions.txt
  tables/vRO/itemslotcounttable.txt
  tables/vRO/itemtypes.txt
  tables/vRO/maps.txt
  tables/vRO/msgstringtable.txt
  tables/vRO/pets.txt
  tables/vRO/portals.txt
  tables/vRO/quests.txt
  tables/vRO/recvpackets.txt
  tables/vRO/resnametable.txt
  tables/vRO/sex.txt
  tables/vRO/skillnametable.txt
  tables/vRO/skillsdescriptions.txt
  tables/vRO/statusnametable.txt
  tables/vRO/sync.txt
Labels: feature request, server: vRO
