Repository OpenKore/openkore, pull requests merged in 2023-05, with the labels that each got.

#3701 feat: innitial 2021_11_03 ragexe support
  control/config.txt
  src/AI.pm
  src/AI/Attack.pm
  src/AI/CoreLogic.pm
  src/Actor/You.pm
  src/Commands.pm
  src/Globals.pm
  src/Interface/Wx.pm
  src/Misc.pm
  src/Network/Receive.pm
  src/Network/Receive/ServerType0.pm
  src/Network/Receive/kRO/RagexeRE_2020_07_23.pm
  src/Network/Receive/kRO/RagexeRE_2021_11_03.pm
  src/Network/Receive/kRO/Sakexe_0.pm
  src/Network/Send.pm
  src/Network/Send/kRO/RagexeRE_2020_07_23.pm
  src/Network/Send/kRO/RagexeRE_2021_11_03.pm
  src/Network/Send/twRO.pm
  src/Task/Move.pm
  src/Task/UseSkill.pm
Labels: enhancement, documentation, new feature

#3742 Removed iRO (Transcendence) entry from Readme
  .gitignore
  README.md
  tables/iRO/Transcendence/STATUS_id_handle.txt
  tables/iRO/Transcendence/achievement_list.txt
  tables/iRO/Transcendence/attendance_rewards.txt
  tables/iRO/Transcendence/hateffect_id_handle.txt
  tables/iRO/Transcendence/hateffect_name.txt
  tables/iRO/Transcendence/item_options.txt
  tables/iRO/Transcendence/items.txt
  tables/iRO/Transcendence/itemsdescriptions.txt
  tables/iRO/Transcendence/itemslotcounttable.txt
  tables/iRO/Transcendence/itemslots.txt
  tables/iRO/Transcendence/maps.txt
  tables/iRO/Transcendence/msgstringtable.txt
  tables/iRO/Transcendence/portals.txt
  tables/iRO/Transcendence/quests.txt
  tables/iRO/Transcendence/recvpackets.txt
  tables/iRO/Transcendence/resnametable.txt
  tables/iRO/Transcendence/skillnametable.txt
  tables/iRO/Transcendence/skillsdescriptions.txt
  tables/iRO/Transcendence/skillssp.txt
  tables/iRO/Transcendence/statusnametable.txt
  tables/iRO/Transcendence/sync.txt
  tables/iRO/Transcendence/title_name.txt
  tables/iRO/maps-custom.txt
  tables/iRO/official/portals.txt
  tables/servers.txt
Labels: server: iRO

#3754 iRO update
  tables/iRO/Renewal/attendance_rewards.txt
  tables/iRO/Renewal/hateffect_id_handle.txt
  tables/iRO/Renewal/hateffect_name.txt
  tables/iRO/Renewal/items.txt
  tables/iRO/Renewal/itemsdescriptions.txt
  tables/iRO/Renewal/itemslotcounttable.txt
  tables/iRO/Renewal/itemslots.txt
  tables/iRO/Renewal/maps.txt
  tables/iRO/Renewal/msgstringtable.txt
  tables/iRO/Renewal/quests.txt
  tables/iRO/Renewal/resnametable.txt
  tables/iRO/Renewal/skillnametable.txt
  tables/iRO/Renewal/skillsdescriptions.txt
  tables/iRO/Renewal/skillssp.txt
  tables/iRO/Renewal/statusnametable.txt
  tables/iRO/STATUS_id_handle.txt
  tables/iRO/Sakray/recvpackets.txt
  tables/iRO/Sakray/shuffle.txt
  tables/iRO/Sakray/sync.txt
  tables/iRO/achievement_list.txt
  tables/iRO/attendance_rewards.txt
  tables/iRO/item_options.txt
  tables/iRO/items.txt
  tables/iRO/itemsdescriptions.txt
  tables/iRO/itemslotcounttable.txt
  tables/iRO/maps.txt
  tables/iRO/msgstringtable.txt
  tables/iRO/official/items.txt
  tables/iRO/official/itemsdescriptions.txt
  tables/iRO/official/itemslotcounttable.txt
  tables/iRO/official/maps.txt
  tables/iRO/official/quests.txt
  tables/iRO/official/resnametable.txt
  tables/iRO/official/skillnametable.txt
  tables/iRO/portals.txt
  tables/iRO/quests.txt
  tables/iRO/recvpackets.txt
  tables/iRO/resnametable.txt
  tables/iRO/skillnametable.txt
  tables/iRO/skillsdescriptions.txt
  tables/iRO/skillssp.txt
  tables/iRO/statusnametable.txt
  tables/iRO/sync.txt
  tables/iRO/title_name.txt
  tables/servers.txt
Labels: server: iRO, code cleaning

#3717 feat: implement teleport task
  plugins/needs-review/avoidSkill/avoidSkill.pl
  plugins/needs-review/exchange/tags/kali/exchange.pl
  plugins/needs-review/exchange/trunk/exchange.pl
  plugins/needs-review/tele-search v2/trunk/tele-search v2.pl
  plugins/teleToDest/teleToDest.pl
  src/AI.pm
  src/AI/Attack.pm
  src/AI/CoreLogic.pm
  src/AI/SlaveAttack.pm
  src/Actor.pm
  src/ChatQueue.pm
  src/Commands.pm
  src/Misc.pm
  src/Task/MapRoute.pm
  src/Task/Route.pm
  src/Task/Teleport.pm
  src/Task/Teleport/Random.pm
  src/Task/Teleport/Respawn.pm
Labels: enhancement, documentation, priority: medium, new feature
